html {
  scroll-behavior: smooth;
} 

* {
  margin: 0px;
  padding: 0px; 
  box-sizing: border-box;
  /* border: 1px solid black; */
}

a { 
  text-decoration: none;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 5rem;

  background-image: url("./sample-nav-bg.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#logo {
  width: 84px;
  height: 100%;
  
}

#nav-items {
  display: flex;
  justify-content: right;
  /* background-color: #25e3bd; */
  height: 100%;
  width:100%;
}

#nav-items div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.1rem;
  font-size: 1.1rem;
  height: 100%;
}

#nav-items div:hover {
  background-color: rgba(121, 122, 214, 0.553);
}

#hamburger-div {
  /* width: 100%;
  border: 2px solid blue;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-left: 10px;
  padding: 0px; */
  display: none;
}

#hamburger {
  /* width: 35px;
  height: 45%;
  border: 3px solid pink; */
  display:none;
}

#procrastination {
  width: 23rem;
  height: 21rem;
}

#photo {
  display: flex;
}

article {
  margin-inline: 11rem;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 12px;
}

#copyright {
  margin-left: 0.5rem;
}

#terms-and-privacy {
  display: flex;
  justify-content: center;
}

#terms-and-privacy div {
  margin-inline: 0.5rem;
}

#socials {
  display: flex;
  align-items: center;
}

#linkedin, #github, #leetcode, #gmail {
  width: 26px;
  margin: 0.21rem;
}

#linkedin-div {
  margin-left: 0.48rem;
}

#gmail-div {
  margin-right: 0.5rem;
}

#linkedin {
  border-radius: 4px;
}

#header-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 12px;
  /* border: 5px solid black; */
}

#header-content div {
  /* border: 2px solid pink; */
  text-align: center;
}

#heading {
  margin-top: 90px;
}

#subheading {
  padding: 10px;
}

#author {
  padding-top: 5px;
}

#date {
  padding-top: 2px;
}

article {
  padding-top: 20px;
}

@media only screen and (max-width: 540px) {

  nav {
    height: 4rem;
    width: 100vw;
    border: 10px solid red;
    margin-right: 0px;
    padding: 0px;
  }

  #logo {
    height: 100%;
    width: 4rem;
  }

  #nav-items div {
    display:none;
  }

  #hamburger-div {
    display: block;
    display:flex;
    justify-content: right;
    align-items: center;
    border: 2px solid black;
    padding-inline: 5px;
  }

  #hamburger {
    width: 35px;
    height: 45%;
    border: 3px solid pink;
    display: block;
    /* display:none; */
  }
  
}